absl-py==2.3.1
accelerate==1.12.0
adlfs==2025.8.0
aiobotocore
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aioitertools
aiooss2==0.2.11
aiosignal==1.4.0
alabaster
alembic==1.17.0
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
altair
amqp==5.3.1
anaconda-anon-usage
anaconda-auth
anaconda-catalogs
anaconda-cli-base
anaconda-client
anaconda-navigator
anaconda-project
annotated-doc==0.0.3
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
appdirs==1.4.4
arabic-reshaper==3.0.0
archspec
argcomplete==3.6.2
argon2-cffi
argon2-cffi-bindings
arrow
asn1crypto==1.5.1
astroid
astropy
astropy-iers-data
asttokens==3.0.0
astunparse==1.6.3
async-lru
asyncssh
atomicwrites==1.4.0
atpublic==6.0.2
attrs==25.4.0
Automat
autopep8
azure-core==1.36.0
azure-datalake-store==0.0.53
azure-identity==1.25.1
azure-storage-blob==12.27.0
babel
backoff==2.2.1
bcrypt
beautifulsoup4
bgutil-ytdlp-pot-provider==1.3.0
billiard==4.2.2
binaryornot
black
bleach
blinker
bokeh
boltons
boto3==1.36.3
botocore==1.36.3
Bottleneck
Brotli
cachetools==5.5.2
celery==5.5.3
certifi==2026.1.4
cffi
chardet
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.1
colorama==0.4.6
colorcet
comm==0.2.3
conda
conda-anaconda-telemetry
conda-anaconda-tos
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda_index
conda_package_streaming
configobj==5.0.9
constantly
contourpy==1.3.3
cookiecutter
crcmod==1.7
cryptography==43.0.3
cssselect
cssselect2==0.9.0
cycler==0.12.1
cytoolz
dacite==1.6.0
dagshub==0.6.3
dagshub-annotation-converter==0.1.15
dask
dask-expr
databricks-sdk==0.70.0
dataclasses-json==0.6.7
datasets==4.5.0
datashader
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
Deprecated
dictdiffer==0.9.0
diff-match-patch
dill==0.4.0
diskcache==5.6.3
distributed
distro
dm-tree==0.1.9
docker==7.1.0
docstring-to-markdown
docstring_parser==0.17.0
docutils
dpath==2.2.0
dulwich==0.24.5
dvc==3.63.0
dvc-azure==3.1.0
dvc-data==3.16.12
dvc-gdrive==3.0.1
dvc-gs==3.0.2
dvc-hdfs==3.0.0
dvc-http==2.32.0
dvc-objects==5.1.2
dvc-oss==3.0.0
dvc-render==1.0.2
dvc-s3==3.2.2
dvc-ssh==4.2.2
dvc-studio-client==0.22.0
dvc-task==0.40.2
dvc-webdav==3.0.0
dvc-webhdfs==3.1.0
easyocr==1.7.2
einops==0.8.1
entrypoints==0.4
et_xmlfile
etils==1.13.0
evalidate
executing==2.2.0
fastapi==0.120.0
fastjsonschema
filelock==3.20.3
flake8
Flask==3.1.2
flask-cors==6.0.1
flatbuffers==25.9.23
flatten-dict==0.4.2
flufl.lock==8.2.0
fonttools==4.60.1
freetype-py==2.5.1
frozendict
frozenlist
fsspec==2025.10.0
ftfy==6.3.1
funcy==2.0
gast==0.6.0
gcsfs==2025.3.2
gitdb==4.0.12
GitPython==3.1.45
gmpy2
google-ai-generativelanguage==0.6.15
google-api-core==2.26.0
google-api-python-client==2.185.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-storage==3.4.1
google-crc32c==1.7.1
google-generativeai==0.8.6
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
gql==4.0.0
grandalf==0.8
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.4
grpcio==1.76.0
grpcio-status==1.71.2
gto==1.9.0
gTTS==2.5.4
h11
h5py==3.15.1
HeapDict
hf-xet==1.2.0
holoviews
html5lib==1.1
httpcore
httplib2==0.31.0
httpx
huey==2.5.5
huggingface-hub==0.35.3
hvplot
hydra-core==1.3.2
hyperlink
idna==3.11
imageio
imagesize
imbalanced-learn
immutabledict==4.2.2
importlib_metadata==8.7.0
importlib_resources==6.5.2
incremental
inflection
iniconfig
intake
intervaltree
ipykernel==6.30.1
ipython==9.4.0
ipython_pygments_lexers==1.1.1
ipywidgets
isodate==0.7.2
isort
itemadapter
itemloaders
iterative-telemetry==0.0.10
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi==0.19.2
jellyfish
Jinja2==3.1.6
jinja2-time
jmespath==1.0.1
joblib==1.5.2
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaggle==2.0.0
kagglehub==0.4.1
kagglesdk==0.1.15
keras==3.11.3
keyring
kiwisolver==1.4.9
knack==0.12.0
kombu==5.5.4
labelImg
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
lief
limits==5.8.0
linkify-it-py
llvmlite
lmdb
locket
lxml==6.0.2
lz4
Mako==1.3.10
Markdown==3.9
markdown-it-py==4.0.0
markdown2==2.5.5
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.10.7
matplotlib-inline==0.1.7
mccabe
mdit-py-plugins
mdurl==0.1.2
menuinst
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
ml_dtypes==0.5.3
mlflow==3.7.0
mlflow-skinny==3.7.0
mlflow-tracing==3.7.0
more-itertools
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
msgpack
multidict==6.7.0
multipledispatch
multiprocess==0.70.18
mypy
mypy_extensions==1.1.0
namex==0.1.0
narwhals
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio==1.6.0
networkx==3.6.1
ninja==1.13.0
nltk
nodejs-wheel-binaries==24.13.0
notebook
notebook_shim
numba
numexpr
numpy==2.2.6
numpydoc
oauth2client==4.1.3
oauthlib==3.3.1
objprint==0.3.0
omegaconf==2.3.0
open_clip_torch==3.3.0
opencv-python==4.12.0.88
opencv-python-headless==4.13.0.90
openpyxl
opentelemetry-api==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opt_einsum==3.4.0
optree==0.17.0
orjson==3.11.3
oscrypto==1.3.0
oss2==2.18.4
ossfs==2025.5.0
overrides
packaging==24.2
pandas==2.3.3
pandocfilters
panel
param
parsel
parso==0.8.5
partd
pathspec
pathvalidate==3.3.1
patsy
pexpect
pickleshare
pillow==12.1.0
pkce
pkginfo
platformdirs==4.4.0
playwright==1.58.0
plotly
pluggy
ply
polars==1.34.0
polars-runtime-32==1.34.0
poyo
prometheus_client
promise==2.3
prompt_toolkit==3.0.52
propcache==0.4.1
Protego
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.1.2
ptyprocess
pure_eval==0.2.3
py-cpuinfo
pyarrow==23.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybuff==0.1.4
pycairo==1.29.0
pyclipper==1.4.0
pycodestyle
pycosat
pycparser
pycryptodome==3.23.0
pyct
pycurl
pydantic==2.12.3
pydantic-settings
pydantic_core==2.41.4
PyDispatcher
pydocstyle
pydot==4.0.1
PyDrive2==1.21.3
pydyf==0.12.1
pyee==13.0.0
pyerfa
pyflakes
pygit2==1.18.2
PyGithub
Pygments==2.19.2
pygtrie==2.5.0
pyHanko==0.34.0
pyhanko-certvalidator==0.30.0
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL==24.2.1
pyparsing==3.2.5
pypdf==6.7.5
pyphen==0.17.2
PyQt5==5.15.10
PyQt5_sip
PyQtWebEngine==5.15.6
PySocks
pytest
pytest-base-url==2.1.0
pytest-playwright==0.7.2
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-multipart==0.0.21
python-slugify==8.0.4
pytoolconfig
pytubefix==10.3.6
pytz==2025.2
pyuca
pyviz_comms
PyWavelets
pywin32==311
pywin32-ctypes
pywinpty
PyYAML==6.0.3
pyzmq==27.0.2
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
readchar
referencing
regex
reportlab==4.4.10
requests==2.32.5
requests-file
requests-oauthlib==2.0.0
requests-toolbelt
rfc3339_validator
rfc3986_validator
rich==14.2.0
rlPyCairo==0.4.0
roman-numerals-py
rope
rpds-py
rsa==4.9.1
Rtree
ruamel.yaml
ruamel.yaml.clib
ruamel_yaml_conda
s3fs
s3transfer==0.11.3
safetensors==0.6.2
scikit-image
scikit-learn==1.7.2
scipy==1.16.2
scmrepo==3.5.2
Scrapy
seaborn
semver==3.0.4
Send2Trash
sentencepiece==0.2.1
sentry-sdk==2.51.0
service-identity
setuptools==80.10.1
shapely==2.1.2
shellingham
shortuuid==1.0.13
shtab==1.7.2
simple-parsing==0.1.7
sip
six==1.17.0
sklearn-compat
slowapi==0.1.9
smmap==5.0.2
sniffio==1.3.1
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy==2.0.44
sqlparse==0.5.3
sqltrie==0.11.2
sshfs==2025.2.0
stack-data==0.6.3
starlette==0.48.0
statsmodels
stem==1.8.2
streamlit
superqt
svglib==1.6.0
sympy==1.13.1
tables
tabulate
tblib
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow-datasets==4.9.9
tensorflow-metadata==1.17.2
termcolor==3.1.0
terminado
text-unidecode
textdistance
tf_keras==2.20.1
threadpoolctl==3.6.0
three-merge
tifffile
timm==1.0.25
tinycss2==1.5.1
tinyhtml5==2.1.0
tldextract
tokenizers==0.22.1
toml
tomli
tomlkit
toolz
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tornado==6.5.2
torpy==1.1.6
tqdm
traitlets==5.14.3
transformers==4.57.6
treelib==1.8.0
truststore
Twisted
twisted-iocpsupport
typer
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata
tzlocal==5.3.1
uc-micro-py
ujson
ultralytics==8.3.213
ultralytics-thop==2.0.17
Unidecode
uritemplate==4.2.0
uritools==6.0.1
urllib3==2.6.3
uv==0.9.5
uvicorn==0.38.0
vine==5.1.0
viztracer==1.1.1
voluptuous==0.15.2
vulture==2.14
w3lib
waitress==3.0.2
watchdog
wcwidth==0.2.13
weasyprint==68.1
webdav4==0.10.0
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.45.1
widgetsnbextension
win_inet_pton
wrapt==1.17.3
xarray
xgboost==3.2.0
xhtml2pdf==0.2.17
xlwings
xxhash==3.6.0
xyzservices
yapf
yarl==1.22.0
youtube-transcript-api==1.2.4
yt-dlp==2026.3.3
yt-dlp-get-pot-rustypipe==0.2.0
zc.lockfile==4.0
zict
zipp==3.23.0
zope.interface
zopfli==0.4.1
zstandard